h2 {
  font-size: 100px;
  text-transform: uppercase;
  text-align: center;
}

p, .hrr {
  /* width: 20%; */
  display: inline-block;
  margin: 5px;
  text-align: justify;
  border-bottom: 2px solid black;
}

h3 {
  text-align: center;
}

img {
  display: inline-block;
  height: 500px;
  margin: 10px;
}

h1, h4 {
  text-align: center;
}

span {
  display: inline-block;
  width: 30%;
  vertical-align: top;
  margin: 10px;
  text-align: justify;
}


#hr {
  border: none;
  height: 10px;
  color: black;
  background-color: black;
}

#hr2 {
  border: none;
  height: 5px;
  color: black;
  background-color: black;
}

.shaq {
  text-align: center;
  border: black;
  color: white;
  background-color: black;
  display: block;
}

section {
  display: inline-block;
  width: 20%;
}

.bold{
  text-align:  center;
  font-weight: bold;
}

.dotted {
  border: dotted;
}