body {
  margin: 0px;
}

div.nav {
  background-image: url("https://images.pexels.com/photos/1509534/pexels-photo-1509534.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
  height: 87px;
  font-family: 'Megrim', cursive;

}

div.foot {
  background-image: url("https://images.pexels.com/photos/1509534/pexels-photo-1509534.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
  height: 87px;
}

div.home {
  background-image: url("https://images.pexels.com/photos/850796/pexels-photo-850796.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
  height: 800px;
  /* background-color: rgba(128, 128, 128, 0.315); */

}

div.about {
  background-image: url("https://images.pexels.com/photos/921776/pexels-photo-921776.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
  height: 800px;
}

div.services {
  background-image: url("https://images.pexels.com/photos/1020320/pexels-photo-1020320.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
  height: 800px;
}

div.product {
  border: 5px solid;
  border-image: url(https://images.pexels.com/photos/1509534/pexels-photo-1509534.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) 1% round;
  width: 500px;
  margin: auto;
}

h1 {
  color: white;
  text-shadow: 2px 2px grey;
  font-family: 'Rock Salt', cursive;
  font-weight: bold;
  margin: 0px;
  text-align: center;
}

h2 {
  text-shadow: 2px 2px grey;

  color: white;
  font-family: 'Rock Salt', cursive;
  text-align: center;
}

a {
  font-size: 30px;
  margin-left: 19%;
  margin-top: 19px;
  cursor: pointer;
  padding: 5px;
  display: inline-block;
  color: white;
}

p, h3 {
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'Raleway', sans-serif;
  color: white;
}

h3 {
  text-shadow: 2px 2px grey;
  text-align: center;
}

div.fade {
  background-color: rgba(128, 128, 128, 0.404);
  height: 800px;
}

.options {
  margin-bottom: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  color: white;
  text-shadow: 2px 2px grey;
  font-family: 'Rock Salt', cursive;
  font-size: 20px;
}